:root {
    --new-color: #0d6efd;
    --light-color: #f8f8f8;
}

.hero {
    background-image: url("/images/pizza.png");
    height: 346px;
    background-size: cover;
    display: flex;
    align-items: center;
}

main.container {
    padding-top: 30px;
}
.table-color {
    background-color: var(--new-color);
    color: #FFFFFF;
}
table {
    width: 100%;
}
th,td {
    padding: 10px;
    width: 100%;
}

.change {
    background-color: var(--light-color);
}
.pizzaTable {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

