:root {
    --new-color: #0d6efd;
    --light-color: #f8f8f8;
}

.hero {
    background-image: url("/images/pizza.png");
    height: 346px;
    background-size: cover;
    display: flex;
    align-items: center;
}

main.container {
    padding-top: 30px;
}
div.cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

