.fancy-header {
    color: blue;
    text-decoration: underline;
    text-align: center;
}

.other-header {
    color: darkblue;
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: lightblue;
}

div#mainBackground {
    background-image: url("https://images.pexels.com/photos/13156079/pexels-photo-13156079.jpeg");
    background-size: contain;
    background-repeat: space;
}