@import "resets.css";
@import "layout.css";

.header {
    border: 1px solid black;
}

#search {
    align-self: start;
}
#insert-map {
    width: 100%;
    height: 400px;
}
#location {
    /*width: 500px;*/
    /*!*height: 20px;*!*/
    align-self: end;
    font-size: 24px;
}
#search-btn {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}